# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# JetBrains
.idea/
*.iml

# VS Code
.vscode/

# Rust backend
/backend/target/

# Frontend dependencies and build output
/frontend/node_modules/
/frontend/dist/
/frontend/dist-*/
/frontend/*.tsbuildinfo
/frontend/vite.config.js
/frontend/vite.config.d.ts
/frontend/vite.config.js.map
/frontend/npm-debug.log*


# reader
/reader/__pycache__/
/reader/.pytest_cache/
/reader/pictures/
/reader/readings.csv

# tests
/tests/__pycache__/
/reader/tests/__pycache__/

# other
scripts/copy-project-to-host.sh

